:root {
  --brandColor: #2196F3;
  --brandHover: #188CE8;
  --firstFontColor: #212121;
  --secondFontColor: #757575;
  --lightFontColor: #ffffff;
  --mainBg: #2F303A;
  --sectionBg: #F5F4FA;
  --nullBg: #ffffff;
  --iconColor: #AFB1B8;
  --mainLetterSpacing: 0.03em;
  --mainTransition: cubic-bezier(0.4, 0, 0.2, 1);
  --mainTransitionTime: 250ms;
}

button {
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  max-width: 100%;
}

body {
  font-size: 14px;
  line-height: 1.2;
  font-family: Roboto, sans-serif;
  color: var(--firstFontColor);
  background-color: var(--nullBg);
}

body.modal-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.14;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-header__contacts {
  margin-left: auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .menu__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.menu__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

.menu__button:focus, .menu__button:hover {
  color: var(--brandColor);
}

.menu__button--left {
  margin-left: auto;
}

.menu__button--absolute-close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu__icon {
  fill: currentColor;
}

.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: var(--nullBg);
  z-index: 100;
  letter-spacing: 0.02em;
  font-weight: 500;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--mainTransitionTime) var(--mainTransition);
  transition: -webkit-transform var(--mainTransitionTime) var(--mainTransition);
  transition: transform var(--mainTransitionTime) var(--mainTransition);
  transition: transform var(--mainTransitionTime) var(--mainTransition), -webkit-transform var(--mainTransitionTime) var(--mainTransition);
}

@media screen and (max-width: 319.5px) {
  .menu__container {
    overflow-x: scroll;
  }
}

@media screen and (min-width: 320px) {
  .menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu__container.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.mobile-nav {
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  display: block;
  color: var(--firstFontColor);
  -webkit-transition: color var(--mainTransitionTime) var(--mainTransition);
  transition: color var(--mainTransitionTime) var(--mainTransition);
}

.mobile-nav__link--active {
  color: var(--brandColor);
}

.mobile-nav__link:focus, .mobile-nav__link:hover {
  color: var(--brandColor);
}

.mobile-contacts {
  margin-top: auto;
  margin-bottom: 64px;
  font-weight: 500;
}

.mobile-contacts__item:first-child {
  margin-bottom: 32px;
}

.mobile-contacts__link {
  font-size: 34px;
  line-height: 1.176;
  color: var(--brandColor);
}

.mobile-contacts__link--small-dark {
  font-size: 24px;
  line-height: 1.67;
  color: var(--secondFontColor);
}

.mobile-social {
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (min-width: 400px) {
  .mobile-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 320px) {
  .mobile-social__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 319.5px) {
  .mobile-social__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 320px) {
  .mobile-social__item:not(:last-child) {
    margin-right: 10px;
  }
}

.mobile-social__item:not(:last-child)::after {
  content: "";
}

@media screen and (min-width: 400px) {
  .mobile-social__item:not(:last-child)::after {
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
    margin-left: 10px;
  }
}

.mobile-social__link {
  color: var(--brandColor);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: var(--mainLetterSpacing);
  text-decoration: none;
  color: var(--brandColor);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__text {
  color: var(--firstFontColor);
}

.logo__text--light {
  color: var(--lightFontColor);
}

.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation__item {
  position: relative;
}

@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__link {
  display: block;
  text-decoration: none;
  color: var(--firstFontColor);
  -webkit-transition: color var(--mainTransitionTime) var(--mainTransition);
  transition: color var(--mainTransitionTime) var(--mainTransition);
}

@media screen and (min-width: 768px) {
  .navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.navigation__link:focus, .navigation__link:hover {
  color: var(--brandColor);
}

.navigation__link--active {
  color: var(--brandColor);
}

@media screen and (min-width: 768px) {
  .navigation__link--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: var(--brandColor);
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondFontColor);
  -webkit-transition: color var(--mainTransitionTime) var(--mainTransition);
  transition: color var(--mainTransitionTime) var(--mainTransition);
}

@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__link:focus, .contacts__link:hover {
  color: var(--brandColor);
}

.contacts__icon-mail {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .contacts__icon-mail {
    width: 14px;
    height: 10px;
  }
}

.contacts__icon-smartphone {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .contacts__icon-smartphone {
    width: 10px;
    height: 14px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-color: var(--mainBg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 576px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
  }
}

@media screen and (max-width: 576px) and (min-device-pixel-ratio: 2), screen and (max-width: 576px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 576px) and (min-resolution: 192dpi), screen and (max-width: 576px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 577px) and (max-width: 960px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
  }
}

@media screen and (min-width: 577px) and (max-width: 960px) and (min-device-pixel-ratio: 2), screen and (min-width: 577px) and (max-width: 960px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 577px) and (max-width: 960px) and (min-resolution: 192dpi), screen and (min-width: 577px) and (max-width: 960px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 961px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop.jpg);
  }
}

@media screen and (min-width: 961px) and (min-device-pixel-ratio: 2), screen and (min-width: 961px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 961px) and (min-resolution: 192dpi), screen and (min-width: 961px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desktop@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  margin-bottom: 30px;
  max-width: 360px;
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--lightFontColor);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 700px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  height: 50px;
  border-radius: 4px;
  background-color: var(--brandColor);
  color: var(--lightFontColor);
  -webkit-transition: background-color var(--mainTransitionTime) var(--mainTransition), -webkit-box-shadow var(--mainTransitionTime) var(--mainTransition);
  transition: background-color var(--mainTransitionTime) var(--mainTransition), -webkit-box-shadow var(--mainTransitionTime) var(--mainTransition);
  transition: background-color var(--mainTransitionTime) var(--mainTransition), box-shadow var(--mainTransitionTime) var(--mainTransition);
  transition: background-color var(--mainTransitionTime) var(--mainTransition), box-shadow var(--mainTransitionTime) var(--mainTransition), -webkit-box-shadow var(--mainTransitionTime) var(--mainTransition);
}

@media screen and (min-width: 320px) {
  .button {
    width: 200px;
  }
}

.button:focus, .button:hover {
  background-color: var(--brandHover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__icon {
  fill: currentColor;
}

.button__icon--left {
  margin-right: 10px;
}

.button__icon--right {
  margin-left: 10px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--no-padding {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section--no-padding {
    padding-top: 0;
    display: block;
  }
}

.section--dark-bg {
  background-color: var(--sectionBg);
}

.section__filter {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__filter {
    margin-bottom: 50px;
  }
}

.section__title {
  font-size: 28px;
  line-height: 1.18;
  font-weight: 700;
  letter-spacing: var(--mainLetterSpacing);
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.166;
  }
}

.section__title--bottom-indent {
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title--bottom-indent {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .features {
    margin: -15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 4);
        flex-basis: calc((100% - 3 * 30px) / 4);
  }
}

@media screen and (max-width: 767.5px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
}

@media screen and (min-width: 480px) {
  .features__box {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .features__box {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__box {
    width: 270px;
  }
}

.features__title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: var(--mainLetterSpacing);
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  line-height: 1.71;
  letter-spacing: var(--mainLetterSpacing);
  color: var(--secondFontColor);
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.works__item:not(:last-child) {
  margin-right: 30px;
}

.works__box {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.works__label {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: var(--mainLetterSpacing);
  text-transform: uppercase;
  color: var(--lightFontColor);
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .team {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--nullBg);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 480px) and (max-width: 767.5px) {
  .team__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 4);
        flex-basis: calc((100% - 3 * 30px) / 4);
  }
}

@media screen and (max-width: 767.5px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
    height: 260px;
  }
}

.team__box {
  font-size: 16px;
  letter-spacing: var(--mainLetterSpacing);
  text-align: center;
  padding: 30px 32px 24px 32px;
}

@media screen and (min-width: 1200px) {
  .team__box {
    padding-bottom: 30px;
  }
}

.team__title {
  font-weight: 500;
  margin-bottom: 10px;
}

.team__text {
  margin-bottom: 16px;
  color: var(--secondFontColor);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  outline: none;
  color: var(--iconColor);
  border-radius: 50%;
  -webkit-transition: background-color var(--mainTransitionTime) var(--mainTransition), color var(--mainTransitionTime) var(--mainTransition);
  transition: background-color var(--mainTransitionTime) var(--mainTransition), color var(--mainTransitionTime) var(--mainTransition);
}

.social__link--dark-bg {
  color: var(--nullBg);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social__link:focus, .social__link:hover {
  background-color: var(--brandColor);
  color: var(--nullBg);
}

.social__icon {
  fill: currentColor;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199.5px) {
  .clients {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.clients__item {
  width: calc(100% / 2 - 30px);
  height: 92px;
}

@media screen and (max-width: 1199.5px) {
  .clients__item {
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--iconColor);
  color: var(--iconColor);
  -webkit-transition: border-color var(--mainTransitionTime) var(--mainTransition), color var(--mainTransitionTime) var(--mainTransition);
  transition: border-color var(--mainTransitionTime) var(--mainTransition), color var(--mainTransitionTime) var(--mainTransition);
}

.clients__link:focus, .clients__link:hover {
  color: var(--brandColor);
  border-color: var(--brandColor);
}

.clients__icon {
  fill: currentColor;
}

.page-footer {
  background-color: var(--mainBg);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .page-footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 767.5px) {
  .page-footer__box {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1199.5px) {
  .page-footer__box {
    text-align: center;
  }
}

@media screen and (max-width: 767.5px) {
  .page-footer__box:first-child {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__box:first-child {
    margin-right: 70px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 767.5px) {
  .page-footer__box:nth-child(2) {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__box:nth-child(2) {
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .page-footer__box:nth-child(3) {
    margin-top: 60px;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
}

.page-footer__text {
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: var(--mainLetterSpacing);
  text-transform: uppercase;
  color: var(--lightFontColor);
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.address__list {
  line-height: 1.71;
  letter-spacing: var(--mainLetterSpacing);
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--mainTransitionTime) var(--mainTransition);
  transition: color var(--mainTransitionTime) var(--mainTransition);
}

.address__link:focus, .address__link:hover {
  color: var(--brandColor);
}

.address__map {
  color: var(--lightFontColor);
}

@media screen and (min-width: 1200px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  padding: 0 16px;
  font-size: 16px;
  color: var(--lightFontColor);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--mainBg);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-transition: border-color var(--mainTransitionTime) var(--mainTransition);
  transition: border-color var(--mainTransitionTime) var(--mainTransition);
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .subscribe__input {
    width: 450px;
  }
}

@media screen and (max-width: 1199.5px) {
  .subscribe__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    margin-right: 12px;
    width: 358px;
  }
}

.subscribe__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: var(--mainLetterSpacing);
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: var(--mainLetterSpacing);
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: var(--mainLetterSpacing);
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: var(--mainLetterSpacing);
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:focus {
  border-color: var(--brandColor);
  outline: none;
}

@media screen and (max-width: 1200px) {
  .subscribe__btn {
    margin: 0 auto;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767.5px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -15px;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767.5px) {
  .filter__item {
    margin-top: 15px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: var(--mainLetterSpacing);
  font-weight: 500;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: var(--sectionBg);
  -webkit-transition: color var(--mainTransitionTime) var(--mainTransition), background-color var(--mainTransitionTime) var(--mainTransition), -webkit-box-shadow var(--mainTransitionTime) var(--mainTransition);
  transition: color var(--mainTransitionTime) var(--mainTransition), background-color var(--mainTransitionTime) var(--mainTransition), -webkit-box-shadow var(--mainTransitionTime) var(--mainTransition);
  transition: color var(--mainTransitionTime) var(--mainTransition), background-color var(--mainTransitionTime) var(--mainTransition), box-shadow var(--mainTransitionTime) var(--mainTransition);
  transition: color var(--mainTransitionTime) var(--mainTransition), background-color var(--mainTransitionTime) var(--mainTransition), box-shadow var(--mainTransitionTime) var(--mainTransition), -webkit-box-shadow var(--mainTransitionTime) var(--mainTransition);
}

.filter__btn:focus, .filter__btn:hover {
  color: var(--lightFontColor);
  background-color: var(--brandColor);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767.5px) {
  .portfolio__item {
    width: 450px;
    height: 404px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    height: 440px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    height: 404px;
  }
}

@media screen and (max-width: 767.5px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .portfolio__img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__img {
    width: 370px;
  }
}

.portfolio__link {
  display: block;
  color: var(--firstFontColor);
  -webkit-transition: -webkit-box-shadow var(--mainTransitionTime) var(--mainTransition);
  transition: -webkit-box-shadow var(--mainTransitionTime) var(--mainTransition);
  transition: box-shadow var(--mainTransitionTime) var(--mainTransition);
  transition: box-shadow var(--mainTransitionTime) var(--mainTransition), -webkit-box-shadow var(--mainTransitionTime) var(--mainTransition);
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .portfolio__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.portfolio__link:focus,
.portfolio__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:focus .portfolio__overlay,
.portfolio__link:hover .portfolio__overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity var(--mainTransitionTime) var(--mainTransition), -webkit-transform var(--mainTransitionTime) var(--mainTransition);
  transition: opacity var(--mainTransitionTime) var(--mainTransition), -webkit-transform var(--mainTransitionTime) var(--mainTransition);
  transition: transform var(--mainTransitionTime) var(--mainTransition), opacity var(--mainTransitionTime) var(--mainTransition);
  transition: transform var(--mainTransitionTime) var(--mainTransition), opacity var(--mainTransitionTime) var(--mainTransition), -webkit-transform var(--mainTransitionTime) var(--mainTransition);
}

@media screen and (max-width: 479.5px) {
  .portfolio__overlay {
    overflow-y: scroll;
    padding: 24px;
  }
}

.portfolio__description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: var(--mainLetterSpacing);
  color: var(--lightFontColor);
}

.portfolio__box {
  padding: 20px 24px;
  background-color: var(--nullBg);
  border: 1px solid #eeeeee;
  border-top: none;
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .portfolio__box {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.portfolio__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: var(--mainLetterSpacing);
  color: var(--secondFontColor);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity var(--mainTransitionTime) var(--mainTransition), visibility var(--mainTransitionTime) linear;
  transition: opacity var(--mainTransitionTime) var(--mainTransition), visibility var(--mainTransitionTime) linear;
  overflow-y: scroll;
}

@media screen and (max-width: 479.5px) {
  .backdrop {
    padding: 15px;
  }
}

.backdrop--hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop--hidden .modal {
  opacity: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (min-width: 480px) {
  .backdrop--hidden .modal {
    -webkit-transform: translateX(-50%) scale(1.2);
            transform: translateX(-50%) scale(1.2);
  }
}

@media screen and (min-width: 768px) {
  .backdrop--hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
}

.modal {
  position: relative;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--nullBg);
  opacity: 1;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--mainTransitionTime) var(--mainTransition), -webkit-transform var(--mainTransitionTime) var(--mainTransition);
  transition: opacity var(--mainTransitionTime) var(--mainTransition), -webkit-transform var(--mainTransitionTime) var(--mainTransition);
  transition: transform var(--mainTransitionTime) var(--mainTransition), opacity var(--mainTransitionTime) var(--mainTransition);
  transition: transform var(--mainTransitionTime) var(--mainTransition), opacity var(--mainTransitionTime) var(--mainTransition), -webkit-transform var(--mainTransitionTime) var(--mainTransition);
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__text {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: var(--mainLetterSpacing);
  text-align: center;
  margin-bottom: 12px;
  color: var(--firstFontColor);
}

@media screen and (min-width: 480px) {
  .modal__text {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1200px) {
  .modal__text {
    line-height: 1.15;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill var(--mainTransitionTime) var(--mainTransition);
  transition: fill var(--mainTransitionTime) var(--mainTransition);
  z-index: 50;
}

.modal__close:focus .modal__icon, .modal__close:hover .modal__icon {
  fill: var(--brandColor);
}

.modal__icon {
  width: 18px;
  height: 18px;
}

.form {
  font-size: 12px;
  line-height: 1.17;
}

.form__field {
  position: relative;
  display: block;
  letter-spacing: 0.01em;
  color: var(--secondFontColor);
  margin-bottom: 10px;
}

.form__field:nth-last-of-type(2) {
  margin-bottom: 20px;
}

.form__field:last-of-type {
  margin-bottom: 30px;
}

.form__wrapper {
  position: relative;
  display: block;
}

.form__input,
.form__textarea {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 10px;
  margin-top: 4px;
  color: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--mainTransitionTime) var(--mainTransition);
  transition: border-color var(--mainTransitionTime) var(--mainTransition);
}

.form__input:focus,
.form__textarea:focus {
  border-color: var(--brandColor);
  outline: none;
}

.form__input:focus + .form__icon {
  fill: var(--brandColor);
}

.form__textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.form__textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .form__textarea::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form__textarea:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form__textarea::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form__textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--mainTransitionTime) var(--mainTransition);
  transition: fill var(--mainTransitionTime) var(--mainTransition);
}

.form__button {
  margin-left: auto;
  margin-right: auto;
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agreement__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: var(--mainLetterSpacing);
}

@media screen and (min-width: 1200px) {
  .agreement__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.agreement__link {
  text-decoration: underline;
  color: var(--brandColor);
}

/* ------------------------------check-icon-focus for tab--------------------- */
.agreement__checkbox:focus + .agreement__icon {
  outline: 1px solid var(--brandColor);
}

/* ------------------------------custom-check-box----------------------------- */
.agreement__checkbox:checked + .agreement__icon {
  border-color: var(--brandColor);
  background-color: var(--brandColor);
}

.agreement__icon {
  min-width: 16px;
  min-height: 15px;
  border: 1.8px solid var(--firstFontColor);
  border-radius: 2px;
  -webkit-transition: border-color var(--mainTransitionTime) var(--mainTransition), background-color var(--mainTransitionTime) var(--mainTransition);
  transition: border-color var(--mainTransitionTime) var(--mainTransition), background-color var(--mainTransitionTime) var(--mainTransition);
}

.agreement__icon--left {
  margin-right: 7px;
}
/*# sourceMappingURL=main.css.map */