.page-header {
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.14;
  border-bottom: 1px solid #ececec;
}

.page-header__container {

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.page-header__contacts {
  margin-left: auto;
}