body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: var(--title-text-color);
    background-color: var(--button-hero-footter-color);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  .list {
    list-style: none;
    padding: 0;
  }