:root {
  --brandColor: #2196F3;
  --brandHover: #188CE8;
  --firstFontColor: #212121;
  --secondFontColor: #757575;
  --lightFontColor: #ffffff;
  --mainBg: #2F303A;
  --sectionBg: #F5F4FA;
  --nullBg: #ffffff;
  --iconColor: #AFB1B8;
  --mainLetterSpacing: 0.03em;
  --mainTransition: cubic-bezier(0.4, 0, 0.2, 1);
  --mainTransitionTime: 250ms;
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;