:root {
    --logo-text-color: #000000;
    --button-hero-footter-color: #ffffff;
    --accent-color: #2196f3;
    --team-background-color: #f5f4fa;
    --button-color-accent: #188ce8;
    --title-text-color: #212121;
    --text-color: #757575;
    --footer-background-color: #2f303a;
    --footer-color-mail-tel: rgba(255, 255, 255, 0.6);
    --color-link: #afb1b8;
  }