.button {
  @include flex-center();
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  height: 50px;
  border-radius: 4px;
  background-color: var(--brandColor);
  color: var(--lightFontColor);
  transition: background-color var(--mainTransitionTime) var(--mainTransition), box-shadow var(--mainTransitionTime) var(--mainTransition);


  @media screen and (min-width: 320px) {
    width: 200px;
  }

  &:focus,
  &:hover {
    background-color: var(--brandHover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.button__icon {
  fill: currentColor;

  &--left {
    margin-right: 10px;
  }
  &--right {
    margin-left: 10px;
  }
}