.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity var(--mainTransitionTime) var(--mainTransition),
    visibility var(--mainTransitionTime) linear;
  overflow-y: scroll;

  @media screen and (max-width: 479.5px) {
    padding: 15px;
  }
}

.backdrop--hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  .modal {
    opacity: 0;
    transform: scale(1.2);

    @media screen and (min-width: $mobile) {
      transform: translateX(-50%) scale(1.2);
    }

    @media screen and (min-width: $tablet) {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
}

.modal {
  position: relative;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--nullBg);
  opacity: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--mainTransitionTime) var(--mainTransition),
    opacity var(--mainTransitionTime) var(--mainTransition);
  transform: scale(1);

  @media screen and (min-width: $mobile) {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%) scale(1);
    width: 450px;
  }

  @media screen and (min-width: $tablet) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: $desktop) {
    width: 528px;
  }
}

.modal__text {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: var(--mainLetterSpacing);
  text-align: center;
  margin-bottom: 12px;
  color: var(--firstFontColor);

  @media screen and (min-width: $mobile) {
    font-size: 20px;
    line-height: 1.5;
  }

  @media screen and (min-width: $desktop) {
    line-height: 1.15;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill var(--mainTransitionTime) var(--mainTransition);
  z-index: 50;

  &:focus,
  &:hover {
    .modal__icon {
      fill: var(--brandColor);
    }
  }
}

.modal__icon {
  width: 18px;
  height: 18px;
}
